<launch>

	<node pkg="rosserial_arduino" type="serial_node.py" name="serial_node">
		<param name="port" value="/dev/ttyACM0"/>
		<param name="baud" value="115200"/>
	</node>

	

	<arg name="calibration" default="0" />
    <param name="calibration_mode" type="int" value="$(arg calibration)" />

	<node name="imu_9dof" pkg="wrsc_plymouth_jegat" type="imu_9dof.py" respawn="true" output='screen' />
	
</launch>